
<div *ngIf="json2.length === 0" class="form-control">
  <app-appareil  [appareilName]="appareil.name" [appareilStatus]="appareil.status" *ngFor="let appareil of json"></app-appareil>

</div>
<div *ngIf="json2.length != 0">
  <app-appareil  [appareilName]="appareil.name" [appareilStatus]="appareil.status" *ngFor="let appareil of json2"></app-appareil>

</div>


<button (click)="onAllAppareil()" class="btn btn-success">
OnALL
</button>

<button (click)="offAllAppareil()" class="btn btn-danger">
  OffALL
  </button>
